@charset "UTF-8";

body  {
    
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif
}

header {
    text-align: center;
    background-color: white;

}

nav > a {
    
    text-decoration: none;
    margin-right: 20px;
}

a:hover {

    color: black;
}

abbr.semântica {

    text-decoration: none;
}

nav {
    color: rgba(0, 0, 0, 0.089);
    box-shadow: 4px 4px 4px 4px;
}
